$black: #313335;
$black-light: #808080;
$pastel: #F3F0E9;
$white: #fff;
$blue: #009CC4;

@mixin desktop() {
  @media screen and (min-width:1170px) {
    @content;
  }
}

@mixin tablet() {
  @media screen and (min-width:768px) {
    @content;
  }
}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

img{
  max-width: 100%;
  display: block;
}

body{
  font-family: 'Unna', Georgia, 'Times New Roman', Times, serif;
}

a{
  font-family: 'Montserrat';
  text-transform: uppercase;
  color: #4D4D4D;
  font-weight: 500;
}

section{
  padding: 10px;
}

.wrapper{
  max-width: 1140px;
  margin: 0 auto;
}

.btn{
  border: 1px solid $blue;
  padding: .8rem .8rem;
  color: $blue;
}

.header{
  padding: 10px;
  @include desktop(){
    max-width: 1140px;
    margin: 0 auto;
  }

  &__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .logo svg{
      height: 70px;
    }

    .list{
      position: fixed;
      top: 0;
      left: 0;
      background-color: $white;
      height: 100vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transform: translateY(-100%);
      z-index: 10;
      transition: transform .3s ease;
      @include desktop(){
        position: initial;
        height: auto;
        transform: translateY(0);
        flex-direction: row;
        justify-content: flex-end;
        gap: 30px;
      }

      &.active{
        transform: translateY(0);
      }

      .close-menu {
        position: absolute;
        top: 30px;
        right: 30px;
        padding: 20px 10px;
        display: grid;
        place-items: center;
        cursor: pointer;
        @include desktop(){
          display: none;
        }

        .line{
          display: inline-block;
          height: 4px;
          width: 30px;
          background-color: $blue;
          transform: rotate(45deg);
  
          &::before{
            content: '';
            display: inline-block;
            height: 4px;
            width: 30px;
            background-color: $blue;
            transform: translateY(-10px) rotate(-90deg);
          }

        }
      }

      a{
        padding: 30px;
        display: block;
        transition: .3s;
        @include desktop(){
          padding: 0;
        }

        &:hover{
          color: $blue;
          // font-weight: bold;
        }
      }
    }

    .menu-mobile{
      padding: 20px;
      cursor: pointer;
      @include desktop(){
        display: none;
      }

      &::after{
        content: '';
        display: block;
        width: 30px;
        height: 4px;
        background-color: $blue;
        transition: transform .3s ease;
      }

      &::before{
        content: '';
        display: block;
        width: 30px;
        height: 4px;
        background-color: $blue;
        transform: translateY(6px);
        transition: transform .3s ease;
      }

      &.active::after{
        transform: translateY(-11px) rotateZ(45deg);
      }

      &.active::before{
        transform: translateY(11px) rotateZ(-45deg);
      }
      
      .line{
        display: inline-block;
        width: 30px;
        height: 4px;
        background-color: $blue;
        transition: transform .3s ease;
      }
      
      &.active .line{
        opacity: 0;
      }
    }
  }
}

.banner{
  background: url(../images/Banner.jpg) no-repeat center;
  background-size: cover;
  height: 661px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $white;
  @include desktop(){
    .wrapper{
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }
    .banner__text{
      width: 60%;
    }
  }

  h1{
    font-size: 3.875rem;
    font-family: 'Unna';
    font-weight: 400;
    text-align: center;
    @include desktop(){
      text-align: left;
    }
  }

  p{
    font-family: 'Unna';
    text-align: center;
    margin-top: 42px;
    font-size: 1.25rem;
    @include desktop(){
      font-size: 2.25rem;
      text-align: left;
    }
  }
}

.more-about-us{
  margin: 75px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  @include desktop(){
    .wrapper{
      display: flex;
    }
  }

  &__text{
    margin-bottom: 30px;
    @include desktop(){
      flex: 1;
      padding-right: 150px;
    }

    span{
      display: block;
      color: $blue;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    h1{
      font-family: 'Unna';
      font-weight: 400;
      font-size: 3.25rem;
      line-height: 1;
      margin-bottom: 40px;
    }

    p{
      font-size: 1rem;
      line-height: 1.4;
      margin-bottom: 30px;
      padding-left: 30px;
      position: relative;

      &::before{
        content: '';
        display: inline-block;
        width: 2px;
        height: 66px;
        background-color: $blue;
        position: absolute;
        left: 10px;
      }
    }
  }

  @include desktop(){
    &__img{
      flex: 1;
    }
  }
}

.middle{
  padding: 0;
  @include desktop(){
    display: flex;
  }

  &__card{
    padding: 50px;
    @include desktop(){
      flex: 1;
      height: 367px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }

    .title{
      display: flex;
      align-items: center;
      gap: 20px;
      @include desktop(){
        width: 100%;
      }

      span{
        font-size: 3.875rem;
        color: $blue;
      }

      h3{
        font-size: 1.75rem;
        font-family: 'Unna';
        line-height: 1;
        @include desktop(){
          text-align: center;
          flex: 1;
        }
      }
    }

    &:nth-child(odd){
      background-color: $pastel;
    }
  }
}

.leader{
  margin: 75px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  @include desktop(){
    .wrapper{
      display: flex;
    }
    .wrapper div{
      flex: 1;
    }
  }

  &__text{
    text-align: center;

    @include desktop(){
      padding-right: 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;
      text-align: unset;
    }

    span{
      font-size: 1rem;
      color: $blue;
      text-transform: uppercase;
      display: block;
      margin-bottom: 10px;
    }

    h1{
      font-size: 3.25rem;
      line-height: 1;
      font-weight: 400;
      margin-bottom: 40px;
    }

    p{
      margin-bottom: 30px;
      @include desktop(){
        max-width: 400px;
      }
    }

    .btn{
      margin-top: 30px;
      display: inline-block;
    }
  }

  &__info ul li{
    display: flex;
    align-items: center;
    margin-top: 30px;
    
    div{
      flex: 0 0 auto;
      @include desktop(){
        flex: 1;
      }
    }

    p{
      padding-left: 20px;
      font-size: 1.25rem;
      @include desktop(){
        text-align: left;
        flex: 4;
      }
    }
  }
}

.team{
  padding: 60px 0;
  text-align: center;
  background-color: $pastel;

  span{
    font-size: 1rem;
    color: $blue;
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
  }

  h1{
    font-family: 'Unna';
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 1;
    @include desktop(){
      font-size: 2.5rem;
      max-width: 800px;
      margin: 0 auto;
      padding: 16px 0 30px 0;
    }
  }

  p{
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 30px;
    padding: 0 30px;
    @include desktop(){
      font-size: 1.3rem;
      max-width: 80%;
      margin: 0 auto 50px;
    }
  }
}

.footer{
  background-color: $black;
  color: $white;
  text-align: center;
  padding: 50px 0;

  &__links, ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    @include desktop(){
      flex-direction: row;
      justify-content: space-between;
    }
  }

  @include desktop(){
    ul:last-child{
      justify-content: center;
    }
  }

  a{
    color: $white;
    font-family: 'Unna';
  }

  h3{
    margin: 30px 0;
    font-family: 'Unna';
    text-transform: uppercase;
  }
}

.bottom{
  background-color: #181818;
  color: $white;
  text-align: center;
  font-family: 'Unna';
  line-height: 1.6;
  @include desktop(){
    .wrapper{
      display: flex;
      justify-content: space-between;
    }
  }
}