// variables
$bg-dark: #242424;
$bg-light: #3b3b3b;
$accent: #ff7600;
$text: #fff;
$icons: #929292;

// mixins
@mixin device ($device) {
  @if $device == tablet{
    @media screen and (min-width:768px) {
      @content;
    }
  }
  @if $device == desktop{
    @media screen and (min-width: 1170px) {
      @content;      
    }
  }
}

// general styles
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: $bg-dark;
  color: $text;

  @include device(tablet) {
    display: grid;
    grid-template-columns: 
      20px
      repeat(3, 1fr)
      20px
    ;
  }
  @include device(desktop){
    padding: 0 15%;
  }
}

a{
  color: $text;
}

.btn{
  text-transform: capitalize;
  position: relative;
  font-size: 1.2rem;

  &::after{
    content: '';
    position: absolute;
    display: block;
    background-color: $accent;
    width: 30%;
    height: 15px;
    left: -4px;
    bottom: 0px;
    z-index: -1;
    transition: .3s cubic-bezier(.94,-0.14,.64,1.64);
  }

  &:hover::after{
    height: 25px;
    width: 60%;
    right: 0;
  }
}

img{
  max-width: 100%;
  display: block;
}

section{
  padding: 20px;
}

// header
.header{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  grid-column: 2/5;
  @include device(desktop){
    grid-column: 2/4;
  }

  nav{
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 70%;
    text-align: right;
    background-color: $accent;
    transform: translateX(-100%);
    transition: transform .3s ease;
    z-index: 100;
    @include device(tablet){
      position: unset;
      height: unset;
      width: unset;
      transform: unset;
      background-color: unset;
    }

    &.show{
      transform: translateX(0);
    }
  }

  nav ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 50px;
    @include device(tablet){
      flex-direction: row;
      padding-top: 0;
      gap: 10px;
    }

    a{
      display: block;
      text-transform: capitalize;
      padding: 25px;
      font-size: 1.4rem;
      position: relative;
      @include device(tablet){
        padding: 10px;
        font-size: 1.1rem;  
        
        &::after{
          content: '';
          display: block;
          height: 2px;
          width: 0;
          background-color: $accent;
          position: absolute;
          margin-top: 5px;
          transition: .5s cubic-bezier(.94,-0.14,.64,1.64);
        }
      }
    }

    li:hover a::after{
      @include device(tablet){
        width: 70%;
      }
    }
  }

  .close{
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
    @include device(tablet){
      display: none;
    }
  }
}

.home{
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-column: 2/5;
  position: relative;
  @include device(tablet){
    display: grid;
    grid-template-columns: 100px, 1fr;

    &::after{
      content: '';
      position: absolute;
      top: -83px;
      bottom: 0;
      right: -20px;
      left: 0;
      grid-column: 2/3;
      background-color: $bg-light;
      z-index: -10;
    }
  }
  @include device(desktop){
    grid-template-columns: 1fr 1.5fr 1fr;
  }

  &-title{
    margin-bottom: 20px;
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 10;
    @include device(tablet){
      position: absolute;
      grid-column: 1/3;
    }


    h1{
      color: $accent;
      font-size: 3rem;
      text-transform: uppercase;
      @include device(tablet){
        font-size: 6rem;
      }
    }

    span{
      color: $icons;
    }
  }

  &-info{
    grid-column: 1/2;
    grid-row: 2/3;
    max-width: 200px;
    @include device(tablet){
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 30px;
    }

    .btn{
      display: block;
      margin-top: 20px;
    }

    &::before{
      content: '01';
      font-size: 15rem;
      position: absolute;
      right: 0;
      top: 0;
      color: $bg-light;
      z-index: -1;
      @include device(tablet){
        left: 0;
      }
      @include device(desktop){
        position: absolute;
        font-size: 35rem;
        left: -220px;
      }
    }
  }

  &-images{
    display: flex;
    flex-direction: column;
    @include device(tablet){
      position: relative;
      grid-row: 2/3;
      grid-column: 2/3;
      margin-left: 20px;
      // z-index: -1;
    }
    @include device(desktop){
      grid-column: 2/4;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .secondary{
      display: flex;
      flex-direction: column;
      @include device(tablet){
        flex-direction: row;
        gap: 20px;
      }
      @include device(desktop){
        grid-column: 2/3;
      }
      
      .right-btn{
        color: $accent;
        font-size: 1.3rem;
        cursor: pointer;
        padding: 10px;
      }
    }

    img{
      margin: 10px 0;
      @include device(tablet){
        width: 100%;
      }
    }
  }

  &-social{
    margin-top: 50px;
    display: flex;
    gap: 30px;
    grid-column: 1/2;
    grid-row: 3/4;

    img{
      cursor: pointer;
    }
    
    img:hover{
      filter: invert(47%) sepia(64%) saturate(2296%) hue-rotate(1deg) brightness(102%) contrast(103%);;
    }
  }
}