footer{
  background-color: var(--green);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.footer-container{
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: white;
  text-align: center;
}
.footer-container h2{
  color: var(--yellow);
  margin-top: 30px;
}
footer .info{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .info .social{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
footer .info div img{
  height: 32px;
  width: 32px;
}
footer a{
  color: white;
  text-transform: capitalize;
  display: block;
  padding: 10px 0;
}
footer h3{
  color: var(--yellow);
  text-transform: capitalize;
  margin-bottom: 20px;
}
footer .links{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.copy{
  font-size: 1rem;
  text-align: center;
}

/* media queries */

@media screen and (min-width:768px) {
  .footer-container{
    max-width: 1170px;
    display: block;
    margin: 0 auto;
    padding: 20px;
  }
  .footer-container .links{
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 20px;
  }
  .footer-container .links .info h2{
    margin: 0;
  }
}

@media screen and (min-width:1024px) {
  .footer-container{
    padding-top: 100px;
  }
  .footer-container .links{
    justify-content: space-between;
    padding: 0;
  }
  footer p{
    margin-top: 50px;
  }
}