.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.h-icon path{
  fill: var(--green);
}
.btn-menu{
  padding: 20px 5px;
  cursor: pointer;
}
.line{
  display: block;
  width: 30px;
  height: 4px;
  background-color: var(--green);
}
.btn-menu::after, .btn-menu::before{
  content: '';
  display: block;
  width: 30px;
  height: 4px;
  background-color: var(--green);
  transition: transform .5s ease;
}
.btn-menu::before{
  transform: translateY(-5px);
}
.btn-menu::after{
  transform: translateY(5px);
}
/* .btn-menu.active .line{
  opacity: 0;
}
.btn-menu.active::after{
  transform: rotateZ(45deg) translateY(-5px);
}
.btn-menu.active::before{
  transform: rotateZ(-45deg) translateY(5px);
} */
.logo{
  color:var(--green);
  font-size: 1.875rem;
}
.logo span{
  font-size: 1.875rem;
  color: var(--light-yellow);
}
.header-container .icons{
  display: flex;
  gap: 10px;
}
nav{
  display: fixed;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: var(--green);
  z-index: 10;
  transform: translateX(-100%);
  transition: .3s ease;
}
nav.active{
  transform: translateX(0);
}
nav a{
  color: white;
  display: block;
  padding: 20px 0px;
  text-transform: capitalize;
  font-size: 1.375rem;
  text-align: center;
  margin: 20px 0;
}
nav ul li:first-of-type a{
  margin-top: 100px;
}
.close-btn{
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 2rem;
  /* padding: 10px; */
  cursor: pointer;
}
.close-btn path{
  fill: white;
}