.section-1 .container{
  background-color: var(--green);
  border-radius: 20px;
}
.section-1 h1, .section-1 p{
  color: var(--light-yellow);
  margin-bottom: 20px;
}
.section-1 p{
  font-weight: 300;
}
.section-1 .buttons{
  display: flex;
  gap: 10px;
}
.section-1 .dots-container{
  margin-top: 20px;
}
.section-1 .dot{
  border: 2px solid var(--yellow);
}
.section-1 .dot.active{
  background-color: var(--yellow);
}

/* media queries */

@media screen and (min-width:768px) {
  .section-1 .container{
    display: flex;
    max-width: 1170px;
    padding: 20px 60px;
  }
  .section-1 .container > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  .section-1 .content{
    flex: 1;
  }
}