* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url(../images/background-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px;
  font-family: "Mulish", sans-serif;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1170px) {
  body {
    background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0.81) 40%, rgba(0, 0, 0, 0) 85%), url(../images/background.jpg);
    background-position: right;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 128px 50px 128px;
  }
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url(../images/background-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px;
  font-family: "Mulish", sans-serif;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1170px) {
  body {
    background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0.81) 40%, rgba(0, 0, 0, 0) 85%), url(../images/background.jpg);
    background-position: right;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 128px 50px 128px;
  }
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__links {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 65px;
  transform: translateY(100%);
}
@media screen and (min-width: 768px) {
  .header__links {
    position: unset;
    flex-direction: row;
    width: unset;
    height: 0;
    top: 0;
    left: 0;
    background-color: unset;
    gap: 34px;
  }
}
.header__links a {
  text-transform: uppercase;
  font-size: 2.25rem;
}
@media screen and (min-width: 768px) {
  .header__links a {
    font-size: 1.125rem;
    padding: 6px;
    transition: all 0.3s;
    text-shadow: 2px 2px 2px #000;
  }
  .header__links a:hover {
    background-color: #E62721;
    text-shadow: none;
  }
}
@media screen and (min-width: 1170px) {
  .header__links a {
    font-size: 1.4375rem;
  }
}
.header__mobile {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .header__mobile {
    display: none;
  }
}
.header__mobile .line,
.header__mobile .line::before,
.header__mobile .line::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: white;
  position: absolute;
}
.header__mobile .line::before {
  transform: translateY(12px);
}
.header__mobile .line::after {
  transform: translateY(-12px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url(../images/background-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px;
  font-family: "Mulish", sans-serif;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1170px) {
  body {
    background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0.81) 40%, rgba(0, 0, 0, 0) 85%), url(../images/background.jpg);
    background-position: right;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 128px 50px 128px;
  }
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

.main {
  flex: 1;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1170px) {
  .main {
    justify-content: flex-start;
  }
}
.main .wrapper {
  display: flex;
}
@media screen and (min-width: 1170px) {
  .main .wrapper {
    width: 100%;
    justify-content: space-between;
  }
}
.main .btn {
  display: block;
  background-color: #E62721;
  width: 300px;
  height: 80px;
  border: none;
  border-radius: 5px;
  margin: auto;
  font-size: 1.3rem;
  color: white;
  cursor: pointer;
}
.main .btn i {
  margin-left: 10px;
}
.main__intro {
  color: #fff;
  align-self: center;
}
@media screen and (min-width: 1170px) {
  .main__intro {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    text-align: left;
    align-items: flex-start;
    height: 100%;
    gap: 30px;
    padding-top: 128px;
  }
}
.main__title {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1170px) {
  .main__title {
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 25px;
  }
}
.main__title span {
  font-size: 1.5rem;
  font-weight: 200;
  position: relative;
  bottom: -30px;
}
.main__title h1 {
  font-size: 4.5rem;
  line-height: 80px;
  font-weight: 500;
}
@media screen and (min-width: 1170px) {
  .main__title h1 {
    font-size: 8rem;
    line-height: 100px;
  }
}
.main__title p {
  color: #E62721;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 300;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
  line-height: 30px;
}
@media screen and (min-width: 1170px) {
  .main__title p {
    margin-bottom: 0px;
  }
}
.main__social ul {
  display: none;
}
@media screen and (min-width: 1170px) {
  .main__social ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 30px;
  }
  .main__social ul li {
    height: 48px;
    width: 48px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s;
  }
  .main__social ul li:hover {
    background-color: #E62721;
  }
  .main__social ul i {
    font-size: 1.5625rem;
  }
}
.main__info {
  display: none;
}
@media screen and (min-width: 1170px) {
  .main__info {
    display: initial;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url(../images/background-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px;
  font-family: "Mulish", sans-serif;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1170px) {
  body {
    background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0.81) 40%, rgba(0, 0, 0, 0) 85%), url(../images/background.jpg);
    background-position: right;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 128px 50px 128px;
  }
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

footer {
  color: white;
  text-align: center;
}
footer a {
  color: #E62721;
}

/*# sourceMappingURL=style.css.map */
