*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .3s ease-in-out;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img{
  object-fit: cover;
  width: 50vw;
  height: 50vh;
}

.container{
  height: 100vh;
  width: 100vw;
  background-color: #f6f6f6;
  display: grid;
  place-items: center;
}

.container-slide{
  width: 50vw;
  height: 50vh;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn{
  color: white;
  font-size: 3rem;
  height: 100%;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}

.btn:hover{
  background-color: rgba(0, 0, 0, 0.5);
}

.previous{
  border-radius: 10px 0 0 10px;
}

.next{
  border-radius: 0 10px 10px 0;
}

.image{
  width: 50vw;
  height: 50vh;
  background-color: rgb(180, 175, 170);
  position: absolute;
  border-radius: 10px;
  overflow: hidden;
}