* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.btn {
  display: inline-block;
  border: 2px solid #777;
  padding: 0.8rem 2.4rem;
  font-size: 1.8rem;
  text-transform: capitalize;
}

html {
  font-size: 50%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}
@media screen and (min-width: 768px) {
  html {
    font-size: 55%;
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 62.5%;
  }
}

body {
  font-family: "Montserrat", sans-serif;
}

section {
  padding: 2rem;
}
@media screen and (min-width: 768px) {
  section {
    padding: 2rem 5rem;
  }
}
@media screen and (min-width: 1024px) {
  section {
    padding: 2rem 10%;
  }
}
@media screen and (min-width: 1200px) {
  section {
    padding: 2rem 20%;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #334;
  position: relative;
}
.header-info {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    background-color: #2597f4;
    padding: 2rem 5rem;
    color: #fff;
  }
}
@media screen and (min-width: 1200px) {
  .header-info {
    padding: 2rem 20%;
  }
}
.header-info i {
  margin-right: 5px;
  color: yellow;
}
.header .logo {
  font-size: 3rem;
  font-weight: 600;
  color: #334;
  display: flex;
  gap: 5px;
}
.header .logo i {
  color: #2597f4;
}
.header .navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}
@media screen and (min-width: 768px) {
  .header .navbar {
    padding: 2rem 5rem;
  }
}
@media screen and (min-width: 1200px) {
  .header .navbar {
    padding: 2rem 20%;
    display: flex;
    align-items: center;
  }
}
.header nav {
  display: block;
  position: absolute;
  top: 65px;
  left: 0;
  height: 0;
  background-color: #fff;
  z-index: 100;
  width: 100vw;
  border-bottom: 1px solid #334;
  visibility: hidden;
  overflow-y: hidden;
  transition: 0.3s;
}
@media screen and (min-width: 1024px) {
  .header nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow-y: initial;
  }
}
.header nav li + li {
  margin-top: 5px;
}
@media screen and (min-width: 768px) {
  .header nav li + li {
    margin-top: 0;
  }
}
.header nav a {
  display: block;
  color: #334;
  text-transform: capitalize;
  padding: 2rem;
  font-size: 2.8rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .header nav a {
    padding: 0.5rem;
    margin-left: 10px;
    font-size: 1.8rem;
  }
}
.header nav.active {
  height: 100vh;
  visibility: visible;
}
@media screen and (min-width: 768px) {
  .header nav {
    display: unset;
    position: unset;
    height: unset;
    visibility: visible;
    border: none;
  }
  .header nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
.header .btn-close {
  padding: 0.5rem;
  cursor: pointer;
  font-size: 3rem;
  transition: 0.3s;
}
.header .btn-close.fa-times {
  transform: rotate(270deg);
}
@media screen and (min-width: 768px) {
  .header .btn-close {
    display: none;
  }
}

.home {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .home {
    flex-direction: row;
    align-items: center;
  }
}
.home div {
  flex: 1;
}
.home-intro {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .home-intro {
    align-items: flex-start;
  }
}
.home-intro h1 {
  font-size: 2.4rem;
  text-transform: capitalize;
  color: #334;
}
@media screen and (min-width: 1200px) {
  .home-intro h1 {
    font-size: 3rem;
    text-transform: capitalize;
    color: #334;
  }
}
.home-intro p {
  font-size: 1.8rem;
  line-height: 1.3;
}

/*# sourceMappingURL=main.css.map */
