* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body{
  background-color: #f6f6f6;
  font-family: 'Open Sans', sans-serif;
}

img{
  max-width: 100%;
  display: block;
}

main{
  margin: 2rem 0;
}

section{
  padding: 2rem 1rem;
}

.intro{
  text-align: center;
  color: #617D98;
}

.intro h1{
  color: #333;
  font-size: 2.7rem;
  margin-bottom: 1rem;
}

.content{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.content__img img{
  border-radius: 9px;
}

.content__text{
  background-color: #fff;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

.content__titles{
 display: grid;
 grid-template-columns: repeat(3,1fr);
 overflow: hidden;
 background-color: #617d9838;
 overflow: hidden;
 border-top-right-radius: 9px;
 border-top-left-radius: 9px;
}

.tabTitle{
  padding: 1rem 0;
  text-align: center;
  font-size: 1.4rem;
  cursor: pointer;
  font-weight: 300;
  font-size: 1.3rem;
  letter-spacing: 2px;
  transition: .3s;
}

.tabTitle:hover{
  background-color: rgba(255, 255, 255, 0.692);
  color: #617D98;
}

.tabTitle.active{
  background-color: #fff;
}

.text{
  padding: 1.5rem;
}

.text > div{
  display: none;
}

.text > div.active{
  display: initial;
}

.text h3{
  font-weight: 400;
  /* margin-bottom: 10px; */
  font-size: 1rem;
}

.text p{
  font-size: .9rem;
  padding: 1rem 0;
  color: #617D98;
  line-height: 1.5;
}

@media screen and (min-width:1000px) {
  main{
    max-width: 70vw;
    margin: 0 auto;
  }
  section{
    padding: 3rem 0 0;
  }
  .intro p {
    max-width: 700px;
    margin: 0 auto;
  }
  .content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
}