*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f2f6;
}

.container{
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.title{
  font-size: 3rem;
  color: #102A42;
}

.number{
  font-size: 6rem;
  color: #102A42;
  font-weight: bold;
}

.buttons{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

button{
  padding: .5rem .8rem;
  background-color: transparent;
  border-radius: 5px;
  border: none;
  font-family: inherit;
  font-size: .9rem;
  border: 2px solid #102A42;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: .3s;
}

button:hover{
  background-color: #102A42;
  color: #fff;
}