@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body{
  font-family: 'Poppins', sans-serif;
}

::selection{
  background-color: red;
  color: white;
}

section{
  padding: 20px;
}

img{
  display: block;
  max-width: 100%;
}

.bg-hero{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-image: url(img/hero.jpg);
  background-position-x: 20%;
  background-position-y: 20%;
  background-size: cover;
  z-index: -1;
}

header{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.logo{
  font-size: 1.5em;
  color: white;
  font-weight: 600;
}

nav{
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  gap: 2em;
  transform: translateX(100%);
  transition: transform .3s ease;
}

nav.show{
  transform: translateX(0);
}

nav ul{
  display: flex;
  flex-direction: column;
}

nav ul a{
  display: block;
  width: 100%;
  padding: .5em 1em;
  cursor: pointer;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: black;
}

nav ul a:hover{
  background-color: rgba(0, 0, 0, 0.1);
}

.close{
  align-self: flex-end;
  margin-right: 20px;
  margin-top: 20px;
  cursor: pointer;
}

.hero{
  height: 90vh;
}

.info{
  padding: 5em 20px;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.hero h1{
  font-size: 2.5em;
  color: white;
  line-height: 1.2;
  padding: 1em 0;
}

.hero p{
  color: white;
  font-size: 1.2em;
}

.info img{
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.arrow{
  position: absolute;
  bottom: 20px;
  animation: movedown 1s alternate-reverse infinite;
}

.arrow path{
  fill: white;
}

@keyframes movedown{
  from{
    transform: translateY(-20px);
  }
  to{
    transform: translateY(0);
  }
}

@media screen and (min-width:768px) {
  .arrow{
    position: unset;
  }
  .arrow path{
    fill: black;
  }
  .hero{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 40vh;
  }
  .menu, .close{
    display: none;
  }
  .logo{
    color: black;
  }
  .logo span{
    color: red;
  }
  nav{
    position: unset;
    transform: translateX(0);
    height: 0;
  }
  nav ul{
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  nav li a{
    font-size: 1.1rem;
    color: white;
  }
  .hero h1, .hero p{
    color: #000;
  }
  .bg-hero{
    height: 50%;
    width: 50%;
    left: 50%;
  }
  .info{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .info h1{
    text-transform: capitalize;
    letter-spacing: 1px;
  }
  .info img{
    width: 50%;
  }
  .info div{
    grid-column: 1/-1;
    display: flex;
    padding: 20px;
  }
  .info div > div{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    text-align: right;
    gap: 1em;
  }
  .info .invert{
    flex-direction: row-reverse;
  }
  .info .invert div{
    align-items: flex-start;
    justify-content: space-evenly;
    text-align: left;
  }
}

@media screen and (min-width:1024px) {
  .wrapper{
    width: 1170px;
    margin: 0 auto;
  }
}