*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  display: block;
  max-width: 100%;
}

body{
  background-color: #252525;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .netflix-logo {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carousel{
    flex: 3;
    position: relative;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    
    &-box{
      overflow: hidden;
      display: flex;
      position: absolute;

      img{
        height: 200px;
        margin: 0 20px;
      }
    }

    .fas{
      background-color: rgba(255, 0, 0, 0.904);
      height: inherit;
      width: 30px;
      z-index: 10;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    .btn-left{
      position: absolute;
      left: -20px;
    }

    .btn-right{
      position: absolute;
      right: -20px;
    }
  }
}