@import '../components/mixins';


$accent-color: #E62721;
$text-color: #fff;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  background-image: url(../images/background-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px;
  font-family: 'Mulish', sans-serif;
  display: flex;
  flex-direction: column;
  @include device(desktop){
    background: linear-gradient(90deg, #000 0%, rgba(0,0,0,.81) 40%, rgba(0,0,0,0) 85%), url(../images/background.jpg);
    background-position: right;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 128px 50px 128px;
  }

}

.wrapper{
  max-width: 980px;
  margin: 0 auto;
}

a{
  text-decoration: none;
  color: $text-color;
}

ul{
  list-style: none;
}
