@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Special+Elite&display=swap');

body{
  height: 80vh;
  background-color: #444;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
}

.text{
  font-family: 'Special Elite', cursive;
  color: #fff;
  font-size: 1.9rem;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 5px;
}

.text::after{
  content: '|';
  margin-left: 10px;
  animation: pisca .9s forwards infinite;
}

@keyframes pisca{
  0%, 100%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
}

#reload{
  padding: .5rem .7rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  background-color: transparent;
  border: transparent;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: .5s;
}

#reload.show{
  visibility: visible;
  opacity: 1;
}

@media screen and (min-width: 800px) {
  body{
    height: 90vh;
    max-width: 50vw;
    margin: 0 auto;
  }
  .text{
    font-size: 3.5rem;
    line-height: 1.2;
  }
}